*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0d1521;
  font-family: tahoma;
  color: #989898;
} 

.todo{
  z-index: -200;
  position: absolute;
  width:20em;
  max-width: 30em;
  top: 9em;
right: 0em;
}

@media only screen and (max-width: 1300px){
  .todo{
    top:10.5em;
    width:15em;
  }
}

@media only screen and (max-width: 1150px){
  .todo{
    top:12em;
    width:12em;
  }
}

@media only screen and (max-width: 930px){
  .todo{
    top:13em;
    width:10em;
  }
}

@media only screen and (max-width: 775px){
  .todo{
    top:70%;
    width:9.5em;
  }
}

.todo img{
  width: 100%;
  height: auto;
}

.register_pic{
  z-index: -500;
  position: absolute;
  width:20em;
  max-width: 20em;
  top: 28%;
  right: 0em;
}

@media only screen and (max-width: 1015px){
  .register_pic{
    width:16em; 
  }
}
@media only screen and (max-width: 775px){
  .register_pic{
    top:70%;
    width:10em;
  }
}
.register_pic img{
  width: 100%;
  height: auto;
}

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.modal{
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  background: #0d1521;
  border-radius: 10px;
  text-align: center;
}

.modal p span{
  font-style: italic;
}

.modal h4{
  position: absolute;
  top:1%;
  right:1%;
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: pointer;
  padding: 0.4em;
  text-align: center;
}

.modal h4:hover{
  background: red;
}

 .todo-table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 95%;
  max-width:1300px;
  margin: 2% auto 0;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
 }

 .todo-table .add_container{
  padding: 0.5em;
  flex:0 0 40%;
  background: #222427;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin:0;
}


.todo-table .add_container form {
  width:100%;
}


.todo-table .add_container form p {
  margin-bottom: 0;
  margin-left: 1.5em;
}

.todo-table .add_container form input[type="number"]{
  -moz-appearance: textfield;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 20%;
  padding: 1.2em;
  background:#181c22;
  border: 0;
  font-size: 1.1rem;
  color: #989898;
  box-sizing: border-box;
 }
 .todo-table .add_container form select{
  -moz-appearance: textfield;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 20%;
  padding: 1.2em;
  background:#181c22;
  border: 0;
  font-size: 1.1rem;
  color: #989898;
  box-sizing: border-box;
 }
 .todo-table .add_container form .date{
   display:flex;
   flex-direction: row;
   justify-content: space-around; 
   position: relative;
 }

 .todo-table .add_container form .date .right{
   position: absolute;
   left: 33%;
   top:35%;
 }
 
 .todo-table .add_container form .date .left{
  position: absolute;
  left: 67%;
  top:35%;
}

.todo_container{
  flex:0 0 45%;
  background: #222427; 
  height:335px;
  overflow-y: scroll;
}

.todo_container::-webkit-scrollbar{
  width:10px;
  cursor: pointer;
}

.todo_container::-webkit-scrollbar-track{
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}
.todo_container::-webkit-scrollbar-thumb{
  background: #222427;
  cursor: pointer;
}
 
 .todo-table form:after{
  margin: 0;
  content: '';
  display: block;
  clear: both;
 }
 
 .todo-table form input[type="text"]{
  width: 100%;
  padding: 1.2em;
  background:#181c22;
  border: 0;
  font-size: 1.1rem;
  color: #989898;
  box-sizing: border-box;
 }



 button{
  padding: 1.2em;
  width: 100%;
  background: #23282e;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
 }


 ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
 }
 
 .item{
   position: relative;
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
  font-family: arial;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  background: rgba(0,0,0,0.2);
  margin-bottom: 0.2em;
 }
 
 .item .task{
  font-weight: bold;
  margin-bottom: 0.2em;
 }

 .item .date{
   display: inline-block;
  font-size: 0.6em;
  color: #909090be;
 }

 .item p{
   display:inline-block;
   margin-left: 0.7em;
  font-size: 0.6em;
  color: #909090be;
  margin-block-start: 0em;
    margin-block-end: 1em
 }

 /* li:hover{
  text-decoration: line-through;
  background: rgba(0,0,0,0.2);
 } */

.login{
  width: 50em;
  margin: 9em auto;
  max-width: 50em;
 overflow: hidden;
}

 .login input{
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  background:#181c22;
  border: 0;
  font-size: 1.3rem;
  color: #989898; 
 }

 .login input[type= "text"]{
   float: none;
 }

 .login button{
   display: block;
   margin: 0 auto;
   float: none;
   width: 75%;
 }

.login .registery {
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 12px;
}


.login .registery:hover{
  color: #999;
}

.block{
 width: 80%;
 margin: 0 auto;
}

.registered {
  text-align: center;
  cursor: pointer;
  margin-right: 5.5em;
  color: white;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}


.registered:hover{
  color: #999;
}

.register{
  width: 100%;
  margin: 9em auto 0;
  max-width: 70em; 
}

 .register input{
  width:65%;
  padding: 1.2em;
  background:#181c22;
  border: 0;
  font-size: 1.2rem;
  color: #989898; 
 }

 .register input[type= "text"]{
   float: none;
 }

 .register button{
   display: block;
   float: none;
   width:70%;
 }

 .valid{
  display: inline-block;
}

.wrong{
  display: none;
}

 .register label {
   width:23%;
   text-align: left;
   font-size: 0.7rem;
   padding-left: 1em;
   color: red;
   font-weight: bold;
   background-color: #0d1521;
 }

.login .signinErr{
  margin: 0 auto;
  text-align: center;
  color: red;
  font-weight: bold;
}

.force_img{
  max-width: 5em;
  position: absolute;
  top: 0;
  left: 2%;
}

.registry{
  position: absolute;
  top:3%;
  left:90%;
  width: 8%;
}

.registry button{
  padding: 10px;
  width:80%;
  background: white;
  border-radius: 3%;
  border: none;
  color: #181c22;
  cursor: pointer;
  font-size: 10px;
}

.force_img img{
  width:100%;
  height: auto;
}

.header{
  position: relative;
  background-color: #23282e;
  width:100%;
  height: 4em;
  overflow: hidden;
}

.header p{
  font-size: 0.6em;
  color: white;
  position: absolute;
  top: 50%;
  left:87%;
}

.force{
  max-width: 3em;
  position: absolute;
  top: 10%;
  left: 1%;
}

.force img{
  width:100%;
  height: auto;
}

.logout{
  position: absolute;
  top:20%;
  left:93.5%;
  width: 8%;
  overflow: hidden;
}

.logout button{
  padding: 0.6em;
  width:5em;
  float: none;
  background: white;
  border-radius: 3%;
  border: none;
  color: #181c22;
  cursor: pointer;
  font-size: 0.8rem;
  overflow: hidden;
}

.loading{
 background-image: url('./background.jpg');
 background-position: center;
 background-size: contain;
 background-repeat: no-repeat;
 background-attachment: fixed;
 position: relative;
 width: 100vw;
 height: 100vh; 
}

.loader{
  position: absolute;
  top:10%;
  left:50%;
  width:10px;
  height:10px;
  border-radius: 50%;
  background: #fff;
}

.loadtask{
  position: absolute;
  top:50%;
  left:50%;
  width:10px;
  height:10px;
  border-radius: 50%;
  background: #fff;
}

.display{
  display:block;
}

.invisible{
  display: none;
}

.trash{
  max-width: 2.5em;
  position: absolute;
  top: 11%;
  left: 89%;
}
@media only screen and (max-width: 920px){
  .trash{
    left: 86%;
  }
  .header p {
    left: 84%;
  }
}
@media only screen and (max-width: 670px){
  .trash{
    left: 82%;
  }
  .header p {
    left: 79%;
  }
}

@media only screen and (max-width: 550px){
  .trash{
    left: 80%;
  }
  .header p {
    left: 76%;
  }
}
@media only screen and (max-width:490px){
  .trash{
    display:none;
  }
  .header p {
    display: none;
  }
}
.trash img {
  width:100%;
  height: auto;
}

.trash_list{
  max-width: 1.5em;
  position: absolute;
  top: 35%;
  left: 89%;
}

.trash_list img {
  width:70%;
  height: auto;
}


.header_form{
  position: absolute;
  top: 18%;
  left: 6%;
  width:31em;
}
@media only screen and (max-width: 920px){
  .header_form{
    left: 8%;
  }
}
@media only screen and (max-width: 690px){
  .header_form{
    left: 10%;
  }
}

@media only screen and (max-width: 550px){
  .header_form{
    top:16%;
    width: 20em;
    left: 12%;
  }
}

.header_form input{
  width:70%;
  display: block;
  padding: 0.6em;
  background:#181c22;
  border-radius:8px;
  border: none;
  font-size: 1.1rem;
  color: #989898; 
  float: left;
}

.header_form input:hover{
  outline: none;
}


.header_form button{
  position: absolute;
  top: 0%;
  width:8%;
  left:55%; 
  background-color: #181c22;
  outline: none;
  box-sizing: border-box;
}

@media only screen and (max-width: 550px){
  .header_form button{
    left:53.5%; 
  }
}
.header_form button:focus{
  outline: none;
}

.header_form .search_img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  width:100%;
  height: 80%;
  border-left: #989898 solid 1px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  background-color: #181c22;
  padding:0.3em;
}

.header_form .search_img img{
  width:30%;
  height:auto;
}
@media only screen and (max-width: 490px){
  .header_form{
    top:25%;
    width: 15em;
    left: 16%;
  }
  .header_form input{
    padding: 0.6em;
    font-size: 0.8rem; 
    float: left;
  }
  .header_form button{

    height:auto;
    font-size: 0.6em;
  }
  .header_form .search_img{
    top:13%;
  }
}



/*responsiveness*/

@media only screen and (max-width: 1100px) {
 .logout button{
  font-size: 0.6rem;
}
.login{
  width: 45em;
  max-width: 45em;
 overflow: hidden;
}
.login button{
  width: 75.5%;
}

 .register input{
  width:65%;
  padding: 1em;
  font-size: 1rem;
 }

 .register button{
   width: 68.6%;
 }

 .register label {
  width:23%;
  text-align: left;
  font-size: 0.5rem;
  padding-left: 0.9em;
}

.todo-table .add_container form input[type="number"]{
  padding: 1.1em;
  font-size: 0.8rem;
 }
 .todo-table .add_container form select{
  padding: 1.1em;
  font-size: 0.8rem;
 }

.todo_container{
  height:300px;
}
}

@media only screen and (max-width: 890px) {
  .logout{
    width: 10%;
    left:92%;
  } 
  .logout button{
   font-size: 0.6rem;
 }
 .login{
  width: 38em;
  max-width: 40em;
 overflow: hidden;
}
.login input{
  padding: 0.8em;
  font-size: 1em;
}
.login button{
  width: 74%;
}
.register input{
  width:65%;
  padding: 0.8em;
  font-size: 0.8rem;
 }

 .register button{
   width:68.5%;
 } 

 .register label {
  width:23%;
  text-align: left;
  font-size: 0.4rem;
  padding-left: 0.8em;
}

.todo-table{
  flex-direction: column;
  align-content: space-between;
  height: 750px;
  position: relative;
  width: 65%;
 }
 .todo-table .add_container{
  padding: 0.5em;
  flex:0 0 40%;
  background: #222427;
}

.todo-table .add_container form input[type="number"]{
  padding: 1.2em;
  font-size: 1.1rem;
 }
 .todo-table .add_container form select{
  padding: 1.2em;
  font-size: 1.1rem;
 }

 .todo-table button{
   margin-top:1em;
 }
 }

 @media only screen and (max-width: 660px) {
  .logout{
    left:88%;
  } 
  .logout button{
   padding: 0.6em;
   font-size: 0.6rem;
 }
 .login{
  width: 27em;
  max-width: 30em;
 overflow: hidden;
}
.login button{
  width: 75.5%;
}
.register input{
   width:60%;
  padding: 0.7em;
  font-size: 0.7rem;
 }

 .register button{
   width:63.5%;
   font-size: 0.7rem;
 } 

 .register label {
  width:33%;
  font-size: 0.5rem;
  padding-left: 0.5em;
}

.todo-table{
  height: 750px;
  width: 85%;
 }

 .todo-table .add_container{
  padding: 0.5em;
  flex:0 0 40%;
  background: #222427;
}

.todo_container{
  flex:0 0 45%;
  background: #222427; 
  height:335px;
  overflow-y: scroll;
}
 }

 @media only screen and (max-width: 550px){
  .header_form .search_img{
    padding:0.25em;

  }
  .todo-table .add_container form input[type="number"]{
  padding: 1.1em;
  font-size: 0.8rem;
 }

 .todo-table .add_container form select{
  padding: 1.1em;
  font-size: 0.8rem;
 }

 .todo-table .add_container form p {
   margin-bottom: 1.5em;
 }

.todo_container{
  height:300px;
}
.todo-table button{
  margin-top:2em;
}

}

 @media only screen and (max-width: 490px){
  .register label {
    font-size: 0.4rem;
  }
  .register button{
    width:64%;
  } 

 }

 @media only screen and (max-width: 450px) {
  .logout{
    width: 13%;
    left:86%;
  } 
  .logout button{
   padding: 0.5em;
   width: 76%;
   font-size: 0.5rem;
 }
 .login{
  width: 20em;
  max-width: 30em;
 overflow: hidden;
}
.login button{
  width: 77.5%;
}
.register input{
   width:55%;
  padding: 0.5em;
  font-size: 0.8rem;
  height: auto;
 }

 .register button{
   width:59.5%;
   font-size: 0.7rem;
 } 

 .register label {
  width:35%;
  font-size: 0.2rem;
  padding-left: 0.5em;
}

.todo-table{
  height: 650px;
}
.todo-table .add_container form p {
 font-size:0.8em;
 margin-bottom: 1em;
}

.todo-table .add_container form input[type="number"]{
  padding: 1.2em;
  font-size: 0.7rem;
 }
 .todo-table .add_container form select{
  padding: 1.2em;
  background:#181c22;
  border: 0;
  font-size: 0.7rem;
 }

.todo_container{
  overflow-y: scroll;
}
 
 .todo-table form input[type="text"]{
  width: 100%;
  padding: 1.2em;
  border: 0;
  font-size: 0.9rem;
 }

 .todo-table button{
  padding: 1.2em;
  font-size: 1em;
  margin-top: 1.5em;
 }

 .item{
  width: 100%;
  padding: 20px;
  font-size: 1em;
 }
 }

 @media only screen and (max-width: 390px) {
  .logout{
    width: 13%;
    left:86%;
  } 
  .logout button{
   padding: 0.5em;
   width: 90%;
   font-size: 0.5rem;
 }
 .login{
  width: 16em;
  max-width: 30em;
 overflow: hidden;
}
.login button{
  width: 79.5%;
}
.register input{
  width:51%;
 padding: 0.5em;
 font-size: 0.8rem;
 height: auto;
}

.register button{
  width:56.5%;
  font-size: 0.7rem;
} 

.register label {
 width:43%;
 font-size: 0.2rem;
}
.todo-table{
  height: 550px;
}
.todo-table .add_container form p {
 font-size:0.7em;
 margin-bottom: 0.8em;
}

.todo-table .add_container form input[type="number"]{
  padding: 1.2em;
  font-size: 0.5rem;
 }
 .todo-table .add_container form select{
  padding: 1.2em;
  background:#181c22;
  border: 0;
  font-size: 0.5rem;
 }

 
 .todo-table form input[type="text"]{
  padding: 1.2em;
  font-size: 0.7rem;
 }

 .todo-table button{
  padding: 1.2em;
  font-size: 0.8em;
 }

 .item{
  font-size: 0.9em;
 }
 }